<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
  </head>

  <body>

    <h1><%= @collection.name %>'s collection</h1>

    <break></break>

    <h4><a href="/logout">Log Out</a></h4>

  </body>
</html
