<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <style>p.indent{ padding-left: 1.8em; }</style>
  </head>

  <body>

    <h2><a href="/collections">View All Collections</a></h2>
    <br>
    <h2><a href="/articles">View All Articles</a></h2>
    <br>
    <h2><a href="/journals">View All Journals</a></h2>
    <br>
    <h2><a href="/authors">View All Authors</a></h2>
    <br>
    <% if logged_in? %>
      <br>
      <h1><a href="/collections/<%= current_user.slug %>">View Your Collection</a></h1>
    <% else %>
      <br>
      <h1><a href="/home">Log In or Create a New Collection</a></h1>
    <% end %>
  </body>
</html
